/* Изображения */
.top-icon {
	margin-top:0.5vh;
	position: relative;
	
	height: 7vh;
}

/* Изменения шрифтов */
.hello{
	color: #4e4e7e;
	font-size: 3.7vh;
}
.profileName{
	color: #4e4e7e;
	font-size: 3vh;
}
.text-info{
	font-size: 2vh;
}
.text-main{
	color: #4e4e7e;
	font-size: 2.5vh;
}
.student-info-text{
	font-size: 2vh;
	text-align: left;
	
	margin-left: 2vh;
	margin-bottom: 2vh;
	
	display: flex;
	align-items: baseline;
}
.TextStyleY{
	font-size: 2vh;
	color: #4e4e7e;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.TextStyleN{
	color: #4e4e7e;
	font-size: 2vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
.ew_text{
	color: #4e4e7e;
	font-size: 1.7vh;
	font-weight: bold;
}
.ew_text_title{
	color: #4e4e7e;
	font-size: 2vh;
}
.ew_text_search{
	color: #4e4e7e;
	font-size: 2.5vh;
	font-weight: bold;
}
.ListPrText2{
	font-size: 2vh;	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* База страниц */
.page {
	background-Image: url(./images/background.png);
	background-Position: center;
	background-Repeat: repeat;
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	
	font-family: emoji;
	text-align: center;
}
.pageLogin {
	background-Image: url(./images/abstract-gray-mosaic-polygon-surfaced-background.jpg);
	background-Position: center;
	background-Repeat: repeat;
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	
	font-family: emoji;
	text-align: center;
}
.pageUniversity {
	background-Image: url(./images/preview.jpg);
	background-Position: center;
	background-Repeat: repeat;
	background-size:100% 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	
	font-family: emoji;
	text-align: center;
}
.mavr{
	display: flex;
	min-height: 89.5vh;
	align-items: flex-start;
	justify-content: center;
	margin-top: 2vh;
}
.workspace{
	border-radius: 2vh;
	border: 0.5vh solid #4e4e7e;
	background-color: #d3dce1;
}
.ew_workspace_university{
	border-radius: 2vh;
	border: 0.5vh solid #565656;
	background-color: #eef6f6;
	
	display: flex;
	justify-content: space-between;
	
	padding: 2vh;
	
	width: 130vh;
}

/* Модальное окно */

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 10px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	max-height: 90vh;
    overflow-y: auto; 
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Логин */
.login-space {
	width: 55vh;
}
.login-input {
	border-radius: 2vh;
	border: 0.3vh solid #4e4e7e;
	color: #4e4e7e;
	
	text-align: center;
	font-size: 2.3vh;
	
	margin-bottom: 1vh;
	margin-right: 1.5vh;
}
.login-button{
	border-radius: 2vh;
	border: 0.3vh solid #4e4e7e;
	background-color: #4e4e7e;
	
	color: #eef6f6;
	font-size: 2.3vh;
	
	margin-bottom: 2vh;
	padding: unset;

	width: 12vh;
}

.elements-to-row {
	display: flex;
    flex-direction: row;
}
.elements-to-center{
	display: flex;
  	align-items: center;
}

/* Верхнняя панель навигации */
.top-panel {
	
	background-color: #EEF6F6;
	border: 0.25vh solid #8ccba1;
	
	display: flex;
	justify-content: center;
	flex-direction: row;
    position: relative;
	
	padding: 0 16px;
	margin: 0 auto;
	
	height: 8vh;
	width: 97.66vw;
}
.top-panel-university {
	
	background-color: #EEF6F6;
	border: 0.25vh solid #3d3583;
	
	display: flex;
	justify-content: center;
	flex-direction: row;
    position: relative;
	
	padding: 0 16px;
	margin: 0 auto;
	
	height: 8vh;
	width: 97.66vw;
}
.topbutton {
	background: #d9e8f0;
	border: 0.2vh solid #d9e8f0;
	
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	
	font-size: 2vh;
	color: #4e4e7e;
	
	width: 18vh;
	height: 8vh;
}
.topbuttonUniversity {
	background: #d9e8f0;
	border: 0.2vh solid #d9e8f0;
	
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	
	font-size: 2vh;
	color: #4e4e7e;
	
	width: 18vh;
	height: 8vh;
}
.topbutton-page {
	background: #8ccba1;
	border: 0.2vh solid #8ccba1;
	
	font-size: 2vh;
	flex-direction: column;
	color:#4e4e7e;
	
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	padding-top: 1.5vh;
	
	width: 18.5vh;
	height: 10.5vh;
}
.topbutton-page-university {
	background: #4e4e7e;
	border: 0.2vh solid #4e4e7e;
	
	font-size: 2vh;
	flex-direction: column;
	color:#f2f2ff;
	
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	padding-top: 1.5vh;
	
	width: 18.5vh;
	height: 10.5vh;
}

/* Профиль */
.profile-space {
	padding-left: 2vh;
	padding-right: 2vh;
	padding-bottom: 1vh;
}
.profile-info {
	display: flex;
	justify-content: space-evenly;
}
.profile-button{
	background: transparent;
	border: 0;
	
	margin-top: 0.5vh;
}
.profile-button2{
	background-Repeat: no-repeat;
	
	margin-bottom: 2vh;
	
	height: 5vh;
	width: 5vh;
}
.infobar{
	border: 0.3vh solid #D4E4EF;
	border-radius: 2vh;
	
	margin-left: 1vh;
	margin-right: 1vh;
	
	width: 45vh;
	
	font-size: 2.2vh;
}

/* Редактирование профиля */
.profile-space-edit {
	width: 95.35vh;
}

/* Левая панель на странице */
.bookmarks{
	display:flex;
	flex-direction: column;
	
	overflow: hidden;
	
	width: 18.3vh;
	margin-top:2vh;
}
.mark{
	background: #bcf3bd;
	border-radius: 1vh;
	border: 0.25vh solid #8ccba1;
	
	margin: 2vh;
	padding: 0.5vh;
	
	font-size: 2vh;
	text-align: center;
}
.mark-page{
	background: #8ccba1;
	border-radius: 1vh;
	border: 0.25vh solid #8ccba1;
	font-size: 2vh;
	width:18.3vh;
}
.leftPanel{
	font-size: 2vh;
	background: #bcf3bd;
	width:19.4vh;
	position: relative;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 0.5vh;
	text-align: center;
	border-radius: 2vh;
	border: 0.5vh solid #8ccba1;
}
.leftPanelUniversity{
	font-size: 2vh;
	background: #4e4e7e;
	width:19.4vh;
	position: relative;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 0.5vh;
	text-align: center;
	color:#f2f2ff;
	border: 0.5vh solid #4e4e7e;
}

.leftPanelUniversity_clicked{
	font-size: 2vh;
	background: #eef6f6;
	width:19.4vh;
	position: relative;
	
	margin-top: 1vh;
	margin-bottom: 1vh;
	
	padding: 0.5vh;
	
	text-align: center;
	color:#4e4e7e;
	border: 0.5vh solid #4e4e7e;
}


/* Классное руководство */
.classes{
	display:flex;
	flex-direction: column;
	
	overflow: hidden;
	
	width: 18.5vh;
	margin-top:2vh;
}
.classes-space{
	border-radius: 2vh;
	border: 0.5vh solid #8ccba1;
	background-color: #eef6f6;
	
	width: 110vh;
	
	padding: 2vh;
	
	display:flex;
	justify-content: space-between;
}
.classes-space-university{
	border-radius: 2vh;
	border: 0.5vh solid #4e4e7e;
	background-color: #eef6f6;
	
	width: 150vh;
	
	padding: 2vh;
	
	display:flex;
	justify-content: space-between;
}
.student-list{
	font-size: 2.1vh;
	text-align: left;
	position: relative;
	margin-left: 5vh;
}
.St{
	font-size: 15px;
	background: #ACC8D2;
	width: 550px;	
	position: relative;
	text-align: center;
	padding: 10px;
	border-radius: 3vh;
	border: 1px solid #495b87;
}

/* Классное руководство: создание ученика */
.classes-create-space{
	border-radius: 2vh;
	border: 0.5vh solid #8ccba1;
	background-color: #eef6f6;
	width: 110vh;
	margin-bottom:30px;
	padding: 20px;
	display:flex;
	flex-direction: column;
	align-items:center;
}
.student-input {
	border-radius: 1vh;
	border: 0.3vh solid #d4e4ef;
	color: #4e4e7e;
	
	text-align: center;
	font-size: 2vh;
	
	margin-bottom: 1vh;
	margin-right: 1.5vh;
	margin-left: 0.5vh;
}
.student-info {
	
	width: 80vh;
	
	display:flex;
	flex-direction: column;
	align-items: flex-start;

	padding-left: 10vh;
	margin-bottom: 4vh;
}
.family-create-space{
	font-size: 2vh;
	
	display:flex;
	flex-direction: column;
	align-items: flex-start;
}
.family-info {
	
	display:flex;
	flex-wrap: wrap;
	
	margin-bottom: 4vh;
}
.stud-addition{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Классное руководство: профиль ученика */
.profile-student{
	background: #eef6f6;
	border-radius: 3vh;
	border: 0.2vh solid #495b87;

	font-size: 2vh;
	
	text-align: center;
	align-items: center;
	
	padding: 10px;
	
}
.family_student{
	border-radius: 2vh;
	border: 0.2vh solid #495b87;
	margin-left: 2vh;
	margin-right: 2vh;
	padding: 2vh;
}
/* Классное руководство: редактирование ученика */
.student_edit-space{
	border-radius: 3vh;
	border: 0.2vh solid #4e4e7e;
	background: #e7edf4;
	
	width: 70vh;
	
	font-size: 2vh;
	text-align: center;
		
	position: relative;
	padding: 2vh;
	
}

/* Воспитательная работа */
.ew_workspace{
	border-radius: 2vh;
	border: 0.5vh solid #8ccba1;
	background-color: #eef6f6;
	
	display: flex;
	justify-content: space-between;
	
	padding: 2vh;
	
	width: 110vh;
}
.ewg_workspace{
	border-radius: 2vh;
	border: 0.5vh solid #8ccba1;
	background-color: #eef6f6;
	
	display: flex;
	
	padding: 2vh;
	
	width: 95vh;
	height: 100vh;
}
.ew_event{
	background: #ACC8D2;
	border-radius: 2vh;
	border: 0.2vh solid #495b87;
	
	font-size: 2vh;
	
	width: 60vh;
	
	padding: 2vh;
}
.Fl{
	background: #ACC8D2;
	border-radius: 3vh;
	border: 0.2vh solid #495b87;
	
	padding: 2vh;
	
}
.box{
	display: flex;
	justify-content: flex-end;
}

/* Отчеты */
.report-space{
	display:flex;
	flex-direction: column;
	padding: 2vh;
	width: 100vh;
}
.report-space-university{
	display:flex;
	flex-direction: column;
	padding: 2vh;
	width: 130vh;
}
.report-space-university-control{
	display:flex;
	flex-direction: column;
	padding: 2vh;
	width: 150vh;
}
.report-bar{
	margin: 1vh 0 1vh 0;
	display: flex;
	width: 45vh;
	align-items: center;
    justify-content: space-between;
}

/* Управление системой */
.control-space{
	border-radius: 2vh;
	border: 0.5vh solid #8ccba1;
	background-color: #eef6f6;
	
	width: 55vh;
	
	padding: 2vh;
}

/*Отчеты внеучебная работа*/

.select-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Отступ между элементами */
}

.input-container {
    display: flex;
	justify-content: center;
    flex-direction: row;
    gap: 10px; /* Отступ между полями ввода */
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Отступ между датами */
}

.label-input {
    margin-bottom: 10px; /* Дополнительный отступ снизу каждого label */
}

/* Материальная помощь */

.document-container-border {
    border: 1px solid black;
    padding: 10px;
}

.document-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 120vh;
	margin-top: 10px;
}

.document-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
	width: 60vh;
}

.document-section p {
    margin: 5px 0;
	font-size: 20px;
}
.material_help_workspace_university{
	border-radius: 2vh;
	border: 0.5vh solid #4e4e7e;
	background-color: #eef6f6;
	display: flex;
	justify-content: space-between;
	padding: 2vh;
	width: 130vh;
}
.material_help_document_href{
	text-decoration: underline;
}
.material_help_bold{
	font-weight: bold;
}
.block-edit-delete{
	display: flex; 
	flex-direction: row;
}

.block-edit-delete > * {
	margin-right: 50px;
}

/* Прочее */
.block-horizontal-flex{
	display: inline-flex; 
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: space-evenly;
    width: 100%; 
}
.block-horizontal-flex-padding{
	display: flex; 
    align-items: center; 
	justify-content: center;
    width: 100%; 
}
.block-horizontal-flex-padding > * {
    margin-left: 10px;    /* Отступ сверху */
    margin-right: 10px; /* Отступ снизу */
}
.block-horizontal{
	padding-left: 12vh;
}
.block-horizontal-flex-show-sample{
	display: inline-flex; 
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: center;
    width: 100%; 
}
.block-horizontal-flex-show-sample-control{
	display: inline-flex; 
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: center;
    width: 100%; 
}
.block-horizontal-flex-show-sample-control > * {
	margin-left: 20px;
    margin-right: 20px;
}
.block-horizontal-flex-show-sample-control-element{
	display: inline-flex; 
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: center;
}
.block-vertical-up-down-delete{ 
	display: inline-flex; 
	flex-direction: column;
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: center;
}
.block-vertical-up-down-delete > * { 
	margin-top: 20px;
	margin-bottom: 20px;
}
.block-vertical-up-down{ 
	display: inline-flex; 
	flex-direction: column;
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: center;
}
.block-vertical-up-down> * { 
	margin-top: 5px;
	margin-bottom: 5px;
}
.block-horizontal-flex-show-sample-control-element > * {
	margin-left: 5px;
    margin-right: 5px;
}
.block-vertical-flex{
	display: inline-flex; 
	flex-direction: column;
    align-items: center; 
    flex-wrap: nowrap;
	justify-content: space-evenly;
}
.block-vertical-flex-report-parameters{
	display: inline-flex; 
	flex-direction: column;
    align-items: right; 
    flex-wrap: nowrap;
	justify-content: space-evenly;
}
.block-horizontal-flex-report-right{
	display: inline-flex; 
    align-items: right; 
    flex-wrap: nowrap;
}
.block-vertical-flex-report-parameters > * {
    margin-top: 10px;    /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
}
.block-margin{
	width: 25vh;
}
.listboxClass-criteria{
	width: 25vh;
}
.listboxClass-undercriteria{
	width: 70vh;
}
.listboxClass-group{
	width: 10vh;
}
.listboxClass-accessible-tab{
	width: 30vh;
}
.label-main {
    font-weight: bold;
}
th {
    font-weight: normal; /* Устанавливаем нежирное начертание для заголовков таблицы */
}